<div class="container background" ng-controller="AboutController">
  <h1>{{ title }}</h1>
  <img src="img/about/pan2.jpg">
</div>


<div class="containter">
  <div class="row rowleft">
      <div class="col-md-4 paddingimage">
        <img src="img/about/cando.jpg" class="me">
        <ul class="jobs">
          <li>Mechanical Engineer</li>
          <li>Front Development</li>
          <li>Computer Science</li>
          <li>Sheet Metal Mechanic</li>
          <li>Forklift Champion</li>
          <li>Husband/Dad/Friend</li>
        </ul>

      </div>
      <div class="col-md-8">
        <p class="historytitle"><b>Aloha.</b></p>
        <p class="describe">{{layout.text1}}</p>

          <img src="img/about/fresno1.jpg" class="fresno">

        <p class="padding">{{layout.text2}}</p>


      </div>
  </div>
</div>

    <!--body>
      <div class="container">
        <h3>Two columns</h3>
        <p>Get two columns <strong>starting at desktops and scaling to large desktops</strong>.</p>
        <div class="row">
          <div class="col-md-4">.col-md-8</div>
          <div class="col-md-8">.col-md-4</div>
        </div-->
