<div class="container background" ng-controller="HomeController" ng-style="layout">
  <h1>{{ title }}</h1>
    <img src="img/home/chad.jpg" class="swonderpic">

  <div class="row">
    <div class="col-md-3"><b>Computer Science/Developer</b>
      <a href="#about">
        <img src="img/home/e.jpg" class="euler"></a>
          <p>{{ layout.art }}</p>
            <p id="alittle"><b>A Little Bit About Me</b></p>
    </div>
    <div class="col-md-3 ehometextcolor"><b>Engineering</b>
      <a href="#/engineered">
        <img src="img/home/bike.jpg" class="bike"></a>
            <p>{{ layout.engineer }}</p>
              <p id="bills"><b>What I do to Pay the Bills</b></p>
    </div>
    <div class="col-md-3"><b>Music</b>
      <a href="https://arooftopburial.bandcamp.com/track/thats-so-funny">
        <img src="img/home/frequency.jpg" class="frequency"></a>
          <p>{{ layout.muzik  }}</p>
            <p id="playit"><b>Have a listen!</b></p>
    </div>
    <div class="col-md-3"><b>Running and Cycling</b>
      <a href="#/pi">
        <img src="img/home/pi.png" class="radial"></a>
          <p> {{ layout.pi }}</p>
            <p id="miles"><b>If your interested</b></p>
    </div>
  </div>
</div>

</body>




  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</html>
