<!--div class="container muzikbackground" ng-controller="MuzikController" ng-style="MuzikLayout" id="box-search">
  <!div class="lrfomimage text-center">
    <img ng-src="{{ MuzikLayout.lrfomimage }}" alt="" class="lrfomimage">
      <div class="muzikcaption">
        <h3 class="muzikcolor"> {{ MuzikLayout.text }} </h3>
      </div>
</div>

<div class="container">

   <Example row of columns>
   <div class="row">
     <div class="col-md-6 text-center">
       <h2>Heading</h2>
             <audio controls>
               <source src="muzikfiles/Chocolate.mp3" type="audio/mp3">
             </audio>

             <audio controls>
               <source src="muzikfiles/ThatsSoFunny.mp3" type="audio/mp3">
             </audio>

             <audio controls>
               <source src="muzikfiles/TheLift.mp3" type="audio/mp3">
             </audio>

             <audio controls>
               <source src="muzikfiles/TheWeatherReport.mp3" type="audio/mp3">
             </audio>

    </div>
     <div class="col-md-6">
       <h2>Heading</h2>
       <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
       <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
     </div>
   </div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p class="paragraphleft"><b>I have been playing and listening to music for as long as I
       can remember.</b> Parameters in art is a strange concept; either way it's a joy
       to have someone like what you've created.  It makes for some happy campiers. All I know is that the
       frequency of sound put into an artform has had a heavy impact on my life, and I'm not sure whom I would be without it.</p>
        <ul>
          <li><b>Chocolate</b></li>
          <audio controls>
          <source src="tunes/A%20Rooftop%20Burial%20-%20Chocolate.mp3" type="audio/mp3">
          </audio>

          <li><b>That's So Funny</b></li>
            <audio controls>
              <source src="tunes/That's%20So%20Funny.mp3" type="audio/mp3">
            </audio>

          <li><b>The Lift</b></li>
            <audio controls>
              <source src="tunes/A%20Rooftop%20Burial%20-%20The%20Lift.mp3" type="audio/mp3">
            </audio>

          <li><b>Weather Report</b></li>
            <audio controls>
              <source src="tunes/A%20Rooftop%20Burial%20-%20The%20Weather%20Report.mp3" type="audio/mp3">
            </audio>
        </ul>
    </div>
    <div class="col-md-6">
      <img src="images/basement.jpg" class="imageresponsive" id="basementpic">
       <h4 id="belowpic">One mans junk is another mans treasure.</h4>
        <p id="playedby">All songs written, played, and recorded by Chud!</p>
    </div>
  </div>
</div-->
