<div class="container">

  <h2 class="textdistance text-center">{{layout}}</h2>
  <div class="row">
    <div class="col-sm-12 text-center ">
      <h4 class="thedpcolor"><span class="textblue">The Distance</span> is under construction.  It is a website dedicated to high school and college<br>
        track/x-country athletes. The main goal is to have them interact by being able crack the top 100 in events.<br>
        Athletes will be able to input there own time to see where they stack up, if they do.</h4>
      </div>
  </div>
